header {
  border-bottom: 1px solid #222;
}

footer {
  border-top: 1px solid #222;
}

.banner .title {
  color: #222;
}

@media (prefers-color-scheme: dark) {
  header {
    border-bottom-color: #eee;
  }

  footer {
    border-top-color: #eee;
  }

  .banner .title {
    color: #eee;
  }
}

header {
  margin-bottom: 1rem;
}

footer {
  margin-top: 1rem;
}

header nav li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
}

.banner {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.banner img.logo {
  height: 4rem;
  width: auto;
  border-radius: 8px;
  margin-right: 0.75rem;
}

.banner .title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
