header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

header nav li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
}